.container{
    width: 300px;
    background-color:bisque;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 40px;
}

.generate{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: rgb(147, 231, 192);
    height: 25px;
    border-radius: 8px;
    border-color: darkkhaki;
    cursor: pointer;
    transition: .2s;
}

.generate:hover{
    transform: scale(1.1,1.1);
    background-color: rgb(130, 158, 233);
}
.pass{
    color:rgb(70, 118, 221);
    margin-left: 10px;
    margin-bottom: 10px;
}