
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html{
    scroll-behavior: smooth;
    user-select: none;
}

body {
    background-color: whitesmoke;
    transition: all 2s; 
    font-size: 15px;
    font-family: "Poppins";
}

.header {
    display: flex;
    justify-content: space-between;     
}

.header__title {
    display: flex;
    flex-grow: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding: 5px;
}

.header__title--desc {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    letter-spacing: 5px;
}

.bar {
    font-size: 25px;
    margin-top: 25px;
    cursor: pointer;
}

#menu,
#close {
    display: none;
}

.header__nav {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    padding: 25px;

}

.header__nav--item {
    text-decoration: none;
    font-family: cursive;
    background-color: white;
    padding: 5px 14px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0px 0px 0px .9px blue;
    color: black;
}

.header__nav--item:hover {
    background-color: black;
    color: white;
    letter-spacing: 4px;
    transition: all 1s;
    border-radius: 4px;
    box-shadow: none;
}
#theme{
    
    background-color: black;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: row;
}
#themestatus{
    font-size: 10px;
    text-transform: lowercase;
    align-items: center;
    color: white;
    display: none;
}
#theme:hover #themestatus{
    
    display: block;
}
#theme:hover{
    letter-spacing: 1px;
    transition: all .6s;
}
#dark{
    color: black;
    font-size: 18px;
}
#light{
    color: white;
    font-size: 18px;
}
/*  container */
.container {
    margin: 0;
    padding: 0;
}

/* Home */

.home {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0px;
}

.home__profile {
    padding: 0px;
}

.home__profile__details{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me__container--image {
    border-radius: 150px;
    width: 250px;
    height: 250px;
    /* box-shadow: 9px 13px 20px 10px rgb(250, 248, 114); */
    box-shadow: 0px 0px 0px 1px gray, 0px 0px 4px 1px;    
    cursor: pointer;
} 
.home__profile--image{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    animation: imageAnime 1.2s linear 1s;
}

.home__profile--image:hover{
    cursor: pointer;
    animation: imageAnime 1s linear;
}
@keyframes imageAnime {
    0%{
        margin: 0px;
    }
    35%{
        margin-left: 30px;
    }
    70%{
        margin-right: 10px;
    }
    100%{
        margin: 0px;
    }
    /* 0%{
        width: 50px;
        height: 50px;
    }
    50%{
        width: 150px;
        height: 150px;
    }
    100%{
        max-width: 250px;
        max-height: 250px;
    } */
}
.home__profile-description {
    padding: 0px;
    margin: 0;
    width: 206px;
}

.home__profile-description--name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    padding: 0px;
    color: blue;
    text-align: center;
}

.home__profile-description--about {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;    
    font-size: 16px;
    color: grey;
}

.home_profile-description_icons {
    display: flex;
    justify-content: space-around;
    padding: 2px;
}

#home_profile-description_icons-ele {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: black;
}


#home_profile-description_icons-ele:hover {
    font-size: 23px;
}

.home__profile-description-resume--link {
    padding: 10px;
    text-decoration: none;
    box-shadow: 0px 0px 0px .4px black;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-radius: 5px;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home__profile-description-resume--link:hover {
    background-color: black;
    color: white;
    letter-spacing: 3px;
    transition: all 1s;
    border-radius: 4px;
}

/* End Home */

/* about me*/
.about-me {
    margin: 0;
    padding: 1px;
}

.about-me__tittle {
    display: flex;
    justify-content: center;
}

.about-me__container--image {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.about-me__tittle--content {
    font-size: 25px;
    color: blue;
} 

.about-me__content,
.about-me__image {
    display: flex;
    justify-content: center;
}

.about-me__image {
    padding: 20px 20px 20px 0px;
}

.about-me__content-desc {
    display: flex;
    max-height: 300px;
}

.about-me__content--text {
    font-size: 16px;
    text-indent: 70px;
    /*max-width: 810px;*/
    line-height: 23px;
    /*background-color: white;*/
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 0px 0px 0px 1px rgba(244, 243, 243, 0.909), 0px 0px 9px 1px; */
   /* box-shadow: 0px 0px 0px 1px rgba(211, 204, 204, 0.233), 0px 0px 3px 1px;*/
    overflow-x: hidden;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}

.experience-education {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.aboutme-card {
    background-color: rgba(0, 0, 0, 0.557);
    box-shadow: 0px 0px 0px 1.5px black, 0px 0px 9px 1px black;
    color: whitesmoke;
    border-radius: 5px;
    padding: 0px;
    max-width: 400px;
}

.aboutme-card__tittle {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    max-height: 35px;
}

.aboutme-card__container {
    padding: 1px;
}

.aboutme-card__container--block {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* end about me*/

/*Skill */
 .skill {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
} 
/* .skill {
    display: flex;
    justify-content: space-around;
    max-width: 500px;
    overflow-y: scroll;
    gap: 30px;
} */


.skill-tittle {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.skill__card {
    background-color: rgba(0, 0, 0, 0.557);
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1.5px black, 0px 0px 9px 1px black;
    margin-top: 30px;
    width: 240px;
}

.skill__card-title {
    display: flex;
    justify-content: center;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.skill__card-items {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.skill__card-items-ele {
    margin: 10px;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.258);
    border-radius: 20px;
    box-shadow: 0px 0px 0px .9px grey;
    display: flex;
    align-items: center;
    width: 100%;
}

.skill__card-item--content {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 0px 0px 0px 2px grey;
}

.skill__card-items-desc {
    margin-left: 15px;
    color: white;
}

/* End Skill */

/* Project */

.project{
    margin: 2px;
    margin-top: 50px;
}
.project-header{
    display: flex;
    
}

.project__heade-desc{
    display: flex;
    justify-content: center;
    color: blue;
}
.project__container{
    padding: 5px;
    margin: 1px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
} 
.project__container-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    margin: 20px;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px rgba(244, 243, 243, 0.909), 0px 0px 4px 1px;
} 
.element-title{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 50px;
}
.element-tittle-desc{
    font-weight: bold;
    font-size: 17px;
}
.element-content{
    display: flex;
    justify-content: center;
    padding: 2px;
}
.project-element--desc{
    text-indent: 20px;
    text-align: justify;
}
.element-link{
    padding: 3px;
    margin: 10px;
}
.element-link-btn{
    background-color: white;
    font-weight: bold;
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
}
/*End project */

/* Contact Me */

.contact {
    margin: 0;
    padding: 2px;
}

.contact-tittle {
    display: flex;
    justify-content: center;
    color: blue;
    margin-top: 20px;
}
.contact-container{
    display: flex;
    justify-content: center;
}
.contact__form {
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px rgba(244, 243, 243, 0.909), 0px 0px 9px 1px;
    width: 600px;
    padding: 10px;
}

.contact__form-element {
    display: flex;
    padding: 2px;
    justify-content: center;
    flex-direction: column;
}

.contact--item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact--item label {
    font-weight: bold;
}

.contact--item-inp {
    padding: 10px 23px 10px 4px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.027);
    box-shadow: 0px 0px 0px 1px rgba(244, 243, 243, 0.909), 0px 0px 9px 1px;
    font-size: 14px;
    font-weight: bold;
    width: 90%;
}

.contact--item-inp:hover {
    box-shadow: 0px 0px 0px 1px blue, 0px 0px 9px 1px;
    cursor: pointer;
}

.contact--item-inp:focus {
    outline-color: blue;
}

.contact--item textarea {
    padding: 10px 23px 10px 4px;
}

.contact--item-submit {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.contact--item-submit-ele,.element-link-btn {
    padding: 10px 30px;
    border-radius: 2px;
    border: none;
    box-shadow: 0px 0px 0px 1.5px grey, 0px 0px 9px 1px;
    cursor: pointer;
    font-weight: bold;
}
.element-link-btn {
    padding: 5px 20px;
}
.contact--item-submit-ele:hover,.element-link-btn:hover {
    background-color: black;
    color: white;
    letter-spacing: 8px;
    transition: all 1s;
    border-radius: 4px;
}

/* End contact me */

/* Footer*/
.footer {
    margin-top: 30px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.footer__description {
    display: flex;
    justify-content: center;
}

.footer__description--content {
    letter-spacing: 2px;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
    text-shadow: 1px .1px white;
    word-spacing: 2px;
    padding: 5px;
}

/* End Footer*/

/* side bar*/
.sidebar {
    flex-direction: column;
    gap: 20px;
    height: 60%;
    width: 0;
    position: fixed;
    top: 35px;
    right: 0;
    background-color: lightgray;
    opacity: .9;
    transition:.5s;
    border-radius: 5px;
    overflow-x: hidden;
}

.sidebar__close {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar__close i {
    cursor: pointer;
    font-size: 20px;
}

.sidebar__close i:hover {
    font-size: 22px;
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.sidebar__nav--item {
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
    color: black;
    letter-spacing: .6px;
    border-radius: 3px;
}

.sidebar__nav--item:hover {
    letter-spacing: .9px;
    color: blue;
}

/*  end of side bar*/

/* Media queries */

@media screen and (max-width:600px) {
    .home{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .home__profile-description{
        margin-top: 30px;
    }
    .skill__card-items-desc {
        display: none;
    }

    .skill__card-items-ele {
        width: 50px;
        border-radius: 4px;
        margin-top: 5px;
        padding: 5px;
    } 

    .skill__card-items {
        padding: 5px;
    }

    .skill__card-items {
        padding: 0px;
    }

    #Postgree {
        display: none;
    }

    .home__profile--image {
        border-radius: 150px;
        width: 200px;
        height: 200px;
        /* box-shadow: 9px 13px 20px 10px rgb(250, 248, 114); */
        box-shadow: 0px 0px 0px 2px grey;
    }

    
    .about-me__container--image {
        display: flex;
        justify-content: center;
        width: 150px;
        height: 150px;
    }
    /* .contact{
        padding: 0px;
    } */
    .footer__description--content{
        letter-spacing: 0px;
    }
    .contact--item-inp {
        padding:8px;
        font-size: 12px;
    }
    .project__container{
        padding: 0px;
    }
    .project__container-element{
        margin: 0px;
        margin-top: 20px;
    }
}



@media screen and (max-width:770px) {
    .header__nav {
        display: none;
    }

    #menu {
        display: block;
    }

    .modal {
        display: block;
    }
    
    /* .contact--item textarea{
        min-width: 0px;
        width: 100%;
        min-width: 40px;
    } */
}
