body {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: center;
  margin: 12px;
  margin-top: 20px;
}
.container__profilecard {
  background-color: whitesmoke;
  max-width: 250px;
  padding: 3px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px black, 0px 0px 6px 1px;
}

.container__profilecard-ele {
  border-radius: 11px;
}

.profilecard-ele-projects {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.profilecard-ele-projects i:hover {
  font-size: 19px;
  cursor: pointer;
}
.sidebar {
  transition: all 1s;
  width: 0;
  top: 33px;
  position: fixed;
  opacity: 0.91;
  left: 50%;
}

.sidebar-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow-x: hidden;
}
.sidebar-elements--desc {
  font-weight: bold;
}
.sidebar-elements a {
  padding: 10px;
  text-decoration: none;
  color: blue;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.1px;
}
.sidebar-elements a:hover {
  color: green;
  font-size: 15.2px;
}
.sidebar-elements-close {
  display: flex;
  align-items: start;
  justify-content: start;
  cursor: pointer;
  padding: 10px;
}
.sidebar-elements-close:hover {
  font-size: 18px;
}

.profilecard-image {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.profilecard-image--ele {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  animation: imageAnime 0.3s infinite;
  box-shadow: 0px 0px 5px 2px grey, 0px 0px 3px 1px;
}

@keyframes imageAnime {
  0% {
    width: 112px;
    box-shadow: 0px 0px 5px 1px whitesmoke, 0px 0px 5px 1px;
  }
  50% {
    width: 115px;
    box-shadow: 0px 0px 5px 1px whitesmoke, 0px 0px 5px 1px;
  }
  100% {
    width: 118px;
    box-shadow: 0px 0px 5px 1px whitesmoke, 0px 0px 5px 1px;
  }
}

.profilecardtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profilecardtitle-name {
  margin: 10px;
  font-weight: bold;
  color: rgb(10, 3, 3);
  letter-spacing: 1.2px;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.profilecardtitle-role {
  margin: 0px;
  color: rgba(65, 61, 61, 0.582);
  font-size: 15px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.profilecard-content {
  padding: 1px;
}
.profilecard-conetent-desc {
  display: flex;
  justify-content: center;
  text-indent: 35px;
  font-weight: bold;
  color: black;
  font-size: 13px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: justify;
  line-height: 15px;
}
.profilecard-icons {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}
.profilecard-icons a {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: 0px 0px 10px 0px white, 1px 1px 6px 1px;
  margin-top: 10px;
}
.profilecard-icons a:hover {
  transition: all 2s;
  cursor: pointer;
  color: white;
  background-color: black;
}

@media screen and (max-width:260px) {
  .sidebar{
    left:43%;
  }
} 